# Mac system files
.DS_Store
**/.DS_Store

# Environments
.env
.python-version
.venv
env/
venv/
.vscode/

# Project files
.virtual_documents/
project_files/

# Database
chroma_db/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
data/*.csv
data/*.pkl
data/*.png
!data/heart_disease.csv  # Keep the original data file

# Jupyter Notebook
.ipynb_checkpoints

# Testing
.coverage
.pytest_cache/
logs/
